**COLUMNAS**:
- Points redeemed: Generally speaking, you earn miles for flying with an airline, and you redeem those miles for free flights, upgrades, or other purchases

**REVISAR**:

- si tienen sentido entre sí flights booked, flights with companions, total flights, distance
- ~~salary: 25% de nulos --- imputable~~
- ~~cancellation year y cancellation month: 87.7% nulos (eliminar columnas?)~~
- ~~unir: left join (activity + loyalty)~~
- hay gente que ha volado pero no tiene puntos?

    **SALARY**:
    - no hay negativos en: 
        - college
        - master
        - doctor
    - college: no hay datos de sueldo; **todos** los nulos de salary están ahí

**DECISIONES**:

- eliminar cancellation month y year de loyalty: no da suficiente información (tenemos un 87,65% de nulos) ni podemos inferirla
- eliminar todas las filas de: parecen no tener sentido; los datos numéricos son coherentes, pero los demás parecen extraños
```python
df[(df['education']=='high school or below') & (df['salary'] < 0)]
```
- todos los nulos de salary corresponden a los college student; no se puede hacer nada con ellos
- abs los valores negativos de bachelor en salary, ya que son coherentes dentro de los rangos de los valores positivos. asumimos que ha sido un typo

**TO DO**: mirar qué grupos reservan más vuelos

In [1]:
def exploracion_basica(lista_df):
    for df in lista_df:
       display(df.head())
       print(df.shape)
       print('')
       print(df.isnull().sum()/df.shape[0]*100)
       print('')
       print(df.dtypes)
       for columna in df.select_dtypes(include='O'):
        print(df[columna].value_counts())
        print('')

       print('-'*20)

In [ ]:
loyalty.drop(columns=['Cancellation Month', 'Cancellation Year'], axis=1, inplace=True)

In [2]:
def nuevas_columnas(df):
    nuevas_columnas = {columna: columna.lower() for columna in df.columns}
    return df.rename(columns=nuevas_columnas, inplace= True)

def unify(valor):
    try:
        return valor.lower().strip()
    except:
        return valor

# aplicar cambios a df    
def homog_tablas(lista_df):
    for df in lista_df:
        nuevas_columnas(df)
    
    for df in lista_df:
        for columna in df.columns:
            df[columna] = df[columna].apply(unify)

In [ ]:
df = activity.merge(loyalty, how='left', on='Loyalty Number')

In [ ]:
df = df.drop(df[(df['education']=='high school or below') & (df['salary'] < 0)].index)

# comprobaciones extra

In [21]:
import pandas as pd
import numpy as np

In [72]:
pd.set_option('display.max_columns', None)

In [81]:
activity = pd.read_csv("Customer Flight Activity.csv", index_col=0)
loyalty = pd.read_csv("Customer Loyalty History.csv", index_col=0)

In [89]:
df = activity.merge(loyalty, how='left', on='Loyalty Number')

In [91]:
homog_tablas([df])

In [92]:
df[(df['education']=='high school or below') & (df['salary'] < 0)]

,year,month,flights booked,flights with companions,total flights,distance,points accumulated,points redeemed,dollar cost points redeemed,country,province,city,postal code,gender,education,salary,marital status,loyalty card,clv,enrollment type,enrollment year,enrollment month,cancellation year,cancellation month
Loyalty Number,,,,,,,,,,,,,,,,,,,,,,,,
542976,2017,1,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,2,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,3,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,4,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,5,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,6,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,7,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,8,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,9,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,10,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,11,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2017,12,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,1,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,2,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,4,5,0,5,985,105.84,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,3,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,6,2,2,4,2420,242.00,814,66,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,5,10,8,18,2736,273.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,7,0,0,0,0,0.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,8,10,5,15,1695,169.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,9,13,0,13,2366,236.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,10,4,0,4,1080,108.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,11,3,0,3,2604,260.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN
542976,2018,12,11,0,11,2574,257.00,0,0,canada,quebec,montreal,h2y 4r4,male,high school or below,-49830.0,divorced,star,24127.5,2018 promotion,2018,3,NaN,NaN

In [84]:
def drops(df):
    df.drop_duplicates(inplace=True)
    df.drop(columns=['cancellation month', 'cancellation year'], axis=1, inplace=True)
    df = df.drop(df[(df['education']=='high school or below') & (df['salary'] < 0)].index)
    return df

In [85]:
df.shape

(405624, 24)

In [86]:
df = drops(df)

In [88]:
df.shape

(403736, 22)

In [74]:
df.drop_duplicates(inplace=True)

In [76]:
df.duplicated().sum()

0

In [79]:
df = df.drop(df[(df['education']=='high school or below') & (df['salary'] < 0)].index)

In [80]:
df.shape

(403736, 24)

In [93]:
df.columns

Index(['year', 'month', 'flights booked', 'flights with companions',
       'total flights', 'distance', 'points accumulated', 'points redeemed',
       'dollar cost points redeemed', 'country', 'province', 'city',
       'postal code', 'gender', 'education', 'salary', 'marital status',
       'loyalty card', 'clv', 'enrollment type', 'enrollment year',
       'enrollment month', 'cancellation year', 'cancellation month'],
      dtype='object')