**COLUMNAS**:
- Points redeemed: Generally speaking, you earn miles for flying with an airline, and you redeem those miles for free flights, upgrades, or other purchases

**REVISAR**:

- si tienen sentido entre sí flights booked, flights with companions, total flights, distance
- salary: 25% de nulos --- imputable
- cancellation year y cancellation month: 87.7% nulos (eliminar columnas?)
- unir: left join (activity + loyalty)
- hay gente que ha volado pero no tiene puntos?

    **SALARY**:
    - no hay negativos en: 
        - college
        - master
        - doctor
    - college: no hay datos de sueldo; los nulos de salary están ahí

**DECISIONES**:

- eliminar cancellation month y year de loyalty: no da suficiente información (tenemos un 87,65% de nulos) ni podemos inferirla
- eliminar todas las filas de: no tienen ningún sentido (datos copia y pega, divorced while high school or below, mismo sueldo)
```python
df[(df['education']=='high school or below') & (df['salary'] < 0)]
```
- todos los nulos de salary corresponden a los college student; no se puede hacer nada con ellos

In [1]:
def exploracion_basica(lista_df):
    for df in lista_df:
       display(df.head())
       print(df.shape)
       print('')
       print(df.isnull().sum()/df.shape[0]*100)
       print('')
       print(df.dtypes)
       for columna in df.select_dtypes(include='O'):
        print(df[columna].value_counts())
        print('')

       print('-'*20)

In [ ]:
loyalty.drop(columns=['Cancellation Month', 'Cancellation Year'], axis=1, inplace=True)

In [2]:
def nuevas_columnas(df):
    nuevas_columnas = {columna: columna.lower() for columna in df.columns}
    return df.rename(columns=nuevas_columnas, inplace= True)

def unify(valor):
    try:
        return valor.lower().strip()
    except:
        return valor

# aplicar cambios a df    
def homog_tablas(lista_df):
    for df in lista_df:
        nuevas_columnas(df)
    
    for df in lista_df:
        for columna in df.columns:
            df[columna] = df[columna].apply(unify)

In [ ]:
df = activity.merge(loyalty, how='left', on='Loyalty Number')

In [ ]:
df = df.drop(df[(df['education']=='high school or below') & (df['salary'] < 0)].index)